.question-card {
  border: solid 1px black;
  border-radius: 5px;
  padding: 20px;
  gap: 100px;
}
.question-card-top {
  box-shadow: 6px 6px 6px rgb(205, 205, 220);
  border: solid 1px black;
  border-radius: 5px;
  /*  background-color: rgb(205, 205, 220); */
}
.question-card__head {
  position: relative;
  border: 1px solid rgb(82, 82, 67);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
}
.card__bookmark {
  position: absolute;
  right: 5px;
  margin-top: -5px;
}

.question-card__heading {
  border: 1px solid;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
  /* margin: auto; */
  /* align-self: center; */
  justify-self: start;
  align-self: center;
}
.question-card__text {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 0 2% 0 2%;
}

.question-card-bottom {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}
.question-card__button {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  background-color: rgb(215, 215, 240);
  border: 1px groove black;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 5px 5px 5px grey;
}

.question-card__tags {
  grid-row: 2;
  grid-column: 1 / span 3;
  justify-self: stretch;
  align-self: center;
  height: 50%;
  padding: 0;
}

.question-card__tags li {
  background-color: rgb(213, 213, 213);
  border: 1px groove black;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgb(131, 114, 114);
}
